

/*=============================================
=            Colors                  =
=============================================*/
$dateColor: #757171;
$sidebarColor: #0a0a0a;
/*=============================================
=            END: Colors                  =
=============================================*/






/*=============================================
=                 Font sizes                 =
=============================================*/

$dateSize: 13px;
$sidebarSize: 18px; 



/*=============================================
=                 END: Font sizes                 =
=============================================*/
